.meet-container {
display: flex;
justify-content: center;
}
.container-for-groups {
    display: flex;
    justify-content: center;
    margin-left: -15%;
    margin-right: -15%;
}
.number-one {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.container-for-chat{
    display: flex;
    justify-content: center;
    margin: 50px
}
.built-for-morden {
    text-align: center;
}
.number-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: -7px;
    border-radius: 25px
}
.experience-more-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 117, 192);
    color: white;
    padding: 60px;
}
.left-group-of-people {
    margin-right: 25px;
}
.right-group-of-people {
    margin-left: 25px;
}
.what-is-it-button {
    background-color: rgb(116, 17, 136);
    border-radius: 15px;
    padding: 5px;
    margin-left: 10px;
    color: white;
}
.first-download-button {
    background-color: rgb(24, 117, 192);
    border-radius: 15px;
    padding: 5px;
    color: white;
}
.second-download-button {
    background-color: rgba(116, 17, 136);
    border-radius: 25px;
    padding: 10px;
    color: white;
    margin-left: 15%;
}
.experience-more {
    margin-right: 15%;
    font-family: monospace;
}
.circle-icon {
    align-content: bottom;
}
.stay-connected {
    font-family: monospace;
}